/* ************************************/
/* html tag */
/* ************************************/
body {
  margin: 0 auto;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
  font-size: 16px;
  position: relative;
  padding-bottom: 320px;

  background: linear-gradient(312deg, #0082f3, #ff86a2, #FB7D59);
  animation: gradient 15s ease infinite;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}


.img-color img {
    filter: grayscale(100%);
    transition: all .4s ease-in-out
}

.img-color:hover img {
    filter: none
}

.img-overlay {
    position: relative
}

.img-overlay .img-hover {
    background-color: rgba(0,0,0,.8);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease
}

.img-overlay .img-text {
    color: #fff;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: translateY(10px);
    transition: opacity .5s ease-in-out,transform .5s ease-in-out
}

.img-overlay:hover .img-hover,.img-overlay:hover .img-text {
    opacity: 1
}

.img-overlay:hover .img-text {
    transform: translateY(0)
}

p .text-muted {
  color: #fff;
}


/* ************************************/
/* Navigation */
/* ************************************/
.bg_01 {
  background-image: url('/img/bg_main.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


.navbar {
  margin-bottom: 0px;
  height: 100px;
}

.nav_header {
  box-shadow: gray 0px 0px 10px 0px;
  background-color: #fff;

}

.navbar-brand img {
  width: 80px;
}

.nav-link {
  font-weight: 600;
  font-size: 16px;
  margin-right: 4px;
  color: #fff;
}

.nav-link:hover {
  color: #fe347e!important;
} 

.navbar-nav .nav-link.active {
  color: #fe347e!important;
}

.navbar-nav .nav-link.show {
  color: #fe347e!important;
}


.dropdown-menu show ul>li>a>span {
  color:#000;
}

.nav_shadow {
  box-shadow: gray 0px 0px 10px 0px;
}

/* ************************************/
/* breadcrumb */
/* ************************************/
.breadcrumb {
  padding: 0;
  margin-bottom: 0;
  background-color: inherit;
  border-radius: 0;
  border-bottom: solid 4px #c8c8c8;
  width: fit-content;
  padding: 10px;
}

/* ************************************/
/* btn */
/* ************************************/
.btn-group-sm>.btn,
.btn-sm {
  border-color: #337ab7;
  border-radius: 4px;
}

/* ************************************/
/* main_slide */
/* ************************************/
.bg_main {
  background-image: url('/img/bg_main.jpg');
  background-position: center;
  background-size: cover;
  min-height: 560px;
  color: white;
}

.main_slide {
  display: flex;
  align-items: center;
  background-image: url('/img/bg_main.jpg');
  background-position: center;
  background-size: cover;
  min-height: 560px;
  color: #fff;
  /* text-align: center; */
}

/* ************************************/
/* sectin */
/* ************************************/
.s_box {
  padding: 40px 10px;
  min-height: 400px;
}

.s_title {
  text-align: center;
  font-weight: 600;
  font-size: 26px;
  padding: 40px 0;
  color: #fe347e;
}

.s_body {
  padding: 20px 4px;
  min-height: 200px;
  text-align: justify;
  word-break: break-all;
}

.s_center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

/* ************************************/
/* Page */
/* ************************************/
.p_box {
  padding: 0px 0px 80px;
  min-height: 400px;
}

.p_title {
  text-align: center;
  font-weight: 600;
  font-size: 34px;
  padding: 40px 0;
  color: #fff;
  /*
  background-color: gray; */
}

.p_body {
  padding: 10px 0;
  min-height: 200px;
  text-align: justify;
  word-break: break-all;
}

.p_bg {
  background-position: center;
  background-size: cover;
  background-image: url('/img/bg_main.jpg');
}

/* ************************************/
/* Title */
/* ************************************/
.t_title {
  font-weight: 600;
  font-size: 28px;
}

/* ************************************/
/* Color */
/* ************************************/
.t_color {
  color: #000;
}




/* ************************************/
/* text box
/* ************************************/
.details {
  border: solid 1px rgb(200, 200, 200);
  padding: 20px;
  line-height: 30px;
  border-radius: 4px;
}

/* ************************************/
/* footer */
/* ************************************/
.footer {
  background-color: #181b46;
  color: lightgray;
  padding: 28px;
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 270px;
  /* margin-top: 316px; */
}

/* ************************************/
/* page */
/* ************************************/
.pagination li {
  margin-right: 6px;
}

ul.pagination {
  width: fit-content;
  margin: 0 auto;
}


/* ************************************/
/* Line
/* ************************************/
.box_line {
  border-top: solid 4px #a4a4a4;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

/* ************************************/
/* table */
/* ************************************/
.table-group-divider {
  border-top: 4px solid #a4a4a4;
}

/* ************************************/
/* summernote */
/* ************************************/
.note-editable {
  min-height: 300px;
}

.note-form-label {
  display: none;
}

.note-image-input {
  margin-bottom: 10px;
}

.note-modal>.modal-header .close {
  border-radius: 4px;
}

/* ************************************/
/* @media
/* ************************************/
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
  }
}
